*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("https://www.kinogallery.com/img/wallpaper/kinogallery-wallpaper-1920x1080-28642.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    visibility: visible;
    background-color: rgb(27, 24, 24);
    z-index: 4;
}
.container{
    background-color: rgb(27, 24, 24);
    margin: 0 auto;
    width: 100%;
}

/*header start*/
header{
    text-align: center;
    justify-content: center;
    box-shadow: 0px 20px 10px rgba(48, 46, 46, 0.9);
    margin: 50px 0px 0px 0px;
}
/*logo and info*/
header .logo{
    width: 100%;
    height: 200px;
}

.nav-menu {
    display: inline-flex;
    background-image: linear-gradient(180deg, rgb(58, 55, 55), rgb(29, 29, 27));
    text-align: center;
    justify-content: center;
    box-shadow: 20px 20px 20px rgba(48, 46, 46, 0.9);
    width: 100%;
}
.ul-menu {
    display: flex;
}
.li-menu {
    display: inline-block;
    list-style: none;
    line-height: 60px;
    position: relative;
}
.link-home{
    position: relative;
    color: #fff;
    width: 40%;
    height: 100%;
    font-size: 25px;
    margin-right: 150px;
    margin-top: 20px;
    display: block;
    transition: all .3s ease-in-out;
    padding: 0;
}
.link-home:hover{
    background-color: crimson;
}
.caption h4, p{
  color: #fff;
}
.btn-holder a{
  width: 50%;
}

.menu-link {
    color: #fff;
    display: block;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 15px;
    z-index: 2;
    font-size: 13px;
    list-style: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.menu-link:hover{
    color: #fff;
    background-color: crimson;
}

.li-menu .link-2:hover{
    background-color: darkorange;
}
.li-menu .link-3:hover{
    background-color: rgb(43, 190, 43);
}
.li-menu .link-4:hover{
    background-color: rgb(14, 95, 177);
}
.li-menu .link-5:hover{
    background-color:gold;
}
.search-block {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.search-block input{
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    padding: 0 25px;
    margin: auto auto;
    justify-content: center;
}
/*header end*/

/*slider*/
.wrapper {
    min-height: 100%;
    width: 100%;
}
.image-slider {
   padding: 30px 0px 70px 0px;
   width: 50%;
   float: left;
}
.image-slider_image {
    text-align: center;
    width: 100%;
    height: 450px;
}
.image-slider_image img {
    min-width: 100%;
    height: 100%;
    width: 100%;
    transition: all 0.6s;
}
.image-slider_image img:hover{
    transform: scale(1.05);
}

/*many films*/
.small{
    width: 50%;
    height: 450px;
    float: right;
}
.small .many-films{
    margin: 0px 15px;
    padding: 5px 5px;
    float: left;
}
.small .single-film{
  display: flex;
  margin: 20px 0px;
}
#al-c {
    display: table;
    width: 100%;
    height: 100%;
   }
  
    
   .effects {
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
   }
    
   .effects li {
    position: relative;
    display: inline-block;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    border:1px solid #cfcfcf;
    background-color: #fff;
    font: normal 14px sans-serif;
    margin: 0;
    border: 5px solid #fff;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    max-height: 200px;
   }
    
   @media (max-width:350px) {
    .effects li {
    font-size: 10px;
    }
   }
    
   .effects li img {
    display: block;
    position: relative;
    max-width:100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease-in-out;
   }
   
   .effects li > div {
    width: 100%;
    height: 100%;
    position: absolute;
   }
    
   .effects li:hover > div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
   }
    
   .effects li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
    background: #000;
    font-size: 90%;
    transition: all 0.4s ease-in-out;
   }
    
   .effects li a:hover {
    background: #ff0000;
    color: #fff;
   }
    
   .effects li div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease-in-out;
    color: #fff;
    transform: translate(250px, 0px) rotate(0deg);
   }
    
   .effects li:hover div {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);
   }

.boevik-header {
    width: 100%;
    margin: 10px 45%;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.wrapper hr{
    background-color: cornsilk;
}
.horror-slider{
    color: #fff;
    width: 100%;
    padding: 10px 45%;
}
.boeviki {
   
   
}
.single-boevik {
   display: inline-flex;
    width: 23%;
    margin: 10px 100px;
    align-items: center;
   
}
.beovik-film {
    float: left;
   
}
.single-boevik-title {
   float: left;

}
.boevik-title {
    margin: 0 10px;
}
.boevik-title a{
    text-decoration: none;
   justify-content: center;
   align-items: center;
    color: #fff;
    font-size: 17px;
    transition: all 0.2s ease-in;
}
.boevik-title a:hover{
    color: #fff;
}
.boeviki img:hover{
    transform: scale(1.04);
    transition: all 0.2s ease-in;
}
.movie-card {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 315px;
    margin: 2em;
    border-radius: 10px;
    display: inline-block;
  }
  
  .movie-header {
    padding: 0;
    margin: 0;
    height: 367px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .we {
    background: url("https://cinemania.alex-bashy.com/wp-content/uploads/2020/01/391122db4a3a6da16079633b96b0716f-400x600.jpg   ");
    background-size: cover;
    width: 250px;
  }
  
  .zaklatye {
    background: url("https://cinemania.alex-bashy.com/wp-content/uploads/2020/01/The-Conjuring-2-afisha-400x600.jpg");
    background-size: cover;
    width: 250px;
  }
  
  .ono {
    background: url("https://cinemania.alex-bashy.com/wp-content/uploads/2020/01/it-2017-clown-horror-1-400x600.jpg");
    background-size: cover;
    background-position: 100% 100%;
    width: 250px;
  }
  
  .astral {
    background: url("https://cinemania.alex-bashy.com/wp-content/uploads/2020/01/%D0%A2%D0%9F%D0%90%D0%A2%D0%90%D0%A2%D0%90-400x600.jpg");
    background-size: cover;
    background-position: 100% 80%;
    width: 250px;
  }
  .nevesta {
    background: url("https://cinemania.alex-bashy.com/wp-content/uploads/2020/01/wallpapersden.com_the-bride-nevesta-2017-movie-poster_4134x2894-400x600.jpg");
    background-size: cover;
    background-position: 100% 80%;
    width: 250px;
  }
  .proch {
    background: url("https://cinemania.alex-bashy.com/wp-content/uploads/2020/01/getout_1-400x600.jpg");
    background-size: cover;
    background-position: 100% 80%;
    width: 250px;
  }
  .megaladon {
    background: url("https://i.pinimg.com/originals/76/1e/fe/761efe639c89e8e5f5de8058f3eeb4f6.jpg");
    background-size: cover;
    background-position: 100% 80%;
    width: 250px;
  }
  
  .header-icon-container {
    position: relative;
  }
  
  .header-icon {
    width: 100%;
    height: 367px;
    line-height: 367px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: #ffffff;
    font-size: 24px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
    opacity: .85;
  }
  
  .header-icon:hover {
    background: rgba(0, 0, 0, 0.15);
    font-size: 34px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
  }
  
  .movie-card:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
  }
  
  .movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
  }
  
  .movie-content-header, .movie-info {
    display: table;
    width: 100%;
  }
  
  .movie-title {
    font-size: 24px;
    margin: 0;
    display: table-cell;
  }
  
  .movie-info {
    margin-top: 1em;
  }
  
  .info-section {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
  }
  
  .info-section:first-of-type {
    text-align: left;
  }
  
  .info-section:last-of-type {
    text-align: right;
  }
  
  .info-section label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: .5em;
    font-size: 9px;
  }
  
  .info-section span {
    font-weight: 700;
    font-size: 11px;
  }
  
  @media screen and (max-width: 500px) {
    .movie-card {
      width: 95%;
      max-width: 95%;
      margin: 1em;
      display: block;
    }
  
    .container {
      padding: 0;
      margin: 0;
    }
  }
/*marvel part style*/
  .marvel {
      width: 100%;
      display: flex;
}
.first-marvel {
    width: 50%;
   
    float: left;
}
.marvel-photo {
}
.marvel-title {
    color: cornsilk;
}

.second-marvel {
    width: 50%;
    float: right;
}
.second-marvel img{
    width: 50%;
    margin-left: 45%;
    padding: 10px 0px;
}
.small-marvel {
    float: right;
    width: 100%;
}
.small-marvel p {
    width: 33.33%;
    color: cornsilk;
    margin-left: 45%;
}
.small-marvel hr{
    width: 50%;
    margin-left: 45%;
    margin-top: -10px;
}
.captain-america {
}
.captain-america-photo {
}
.captain-america-title {
}
.black {
}
.black-photo {
}
.black-title {
}
.thor {
}
.thor-photo {
}
.thor-title {
}
.h2-marvel{
    color: #fff;
    padding: 0px 45%;
}

.wrapper-movie{
  margin-top: 30px;

}
.film-info{
  width: 100%;
  padding: 0 2%;
}
.movie-header{
  padding: 50px 5px;
}
.secondary{
  float: right;
  width: 27%;
}
.menu-item{
  margin: 35px 0px;
  list-style: none;
}
.menu-item a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
}
.menu-item a:hover{
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
}
.movie-main {
  margin: 50px 0px;
}
.movie-main h2{
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px;
}
.genre  {
  display: flex;
  width: 130px;
 
}
.genre p{
  display: block;
  background-color: cornflowerblue;
  color: #fff;
  margin: 20px 1px;
  padding: 0px 10px;
}
.movie-footer {
  display: block;
  width: 200px;
  margin: 20px 0px;
}
.movie-footer a{
  display: block;
  background-color: crimson;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
}

.movie-footer a:hover{
  background-color: #fff;
  color: crimson;
  text-decoration: none;

}

/*feedback part*/
.feedback{
  width: 100%;
  height: 500px;
  border: 2px solid #aaa;
  margin: 20px 0px;
}
form{
  max-width: 500px;
  width: 100%;
  margin: 40px auto;
  }
  input{
  box-sizing: border-box;
  display: block;
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.11);
  padding: 10px 20px;
  width: 100%;
  outline: none;
  }
  input[type="submit"]{
  background: red;
  border: none;
  box-shadow: 0px 2px 0 1px #C50909;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  width: 200px;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px 0px;
  }
  input[type="submit"]:hover{
  background: black;
  box-shadow: 0px 2px 0 1px black;
  }
  .feedback-message{
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .footer-part {
    width: 100%;
    margin: 50px 0px;
    padding: 80px 0px;
  }
  .datas {
    float: right;
    width: 30%;
  }
  .feedback-text {
    color: #fff;
  }
  .datas p{
    color: #fff;
    padding: 0px 10px;
  }
  .fa-envelope {
    margin: 0px 5px;
    animation: envelope 1s infinite;
    animation-timing-function: linear;
  }
  .container hr{
    background-color: #aaa;
  }

@keyframes envelope{
  0%{
   margin-top: -3px;
  }
  50%{
   margin-top: 3px;
  }
  100%{
  margin-top: -3px;
  }
}
.progress{
 margin: 20px 0px;
}